{% extends 'base.html.twig' %}


{% block title %}OLFRAGRANCE
{% endblock %}

{% block body %}
	<section class="container">

		<h1 class="py-5 text-center text-bold text-dark">Où se mettre du parfum ?</h1>


		<article class=" fs-5 col-8	py-4 container px-5 text-black-50">
			<p>Nuque, aisselles, poitrine ou poignet ? Panorama des meilleurs endroits où se parfumer.
			</p>
				<img src="{{asset('img/ouparfumer.png')}}" alt="">
			<br>
            <p>
				Sortez dans la rue en plein hiver. Les odeurs de cafés et restaurants environnants ne vous apparaîtront pas du tout aussi fort qu’en plein été. Il faut comprendre qu’une odeur est composée de molécules qui diffusent plus facilement quand elles sont chauffées. Il vaut donc mieux appliquer votre parfum sur les parties de votre corps les plus chaudes.

			</p>


			<p>
				Si vous souhaitez vous parfumer à même la peau, il est donc préférable d’appliquer le parfum aux endroits du corps naturellement chauds car vascularisés, c’est à dire des endroits où le sang circule abondamment comme le cou ou les poignets.

				<br>
				<br>

				Une alternative consiste à se parfumer les cheveux pour un sillage plus subtil. Attention toutefois, le composant majoritaire d’un parfum étant l’alcool, il existe un risque de dessèchement de votre belle crinière ondulée si vous abusez de cet emplacement.
			</p>
			<br>
			<p>
				Parfumer une écharpe en hiver peut être un bon compromis. Veillez simplement à utiliser un tissu naturel (soie, coton, cachemire, lin, etc.), les matières synthétiques faisant mauvais ménage avec certaines matières premières, notamment aromatiques.
			</p>
			<br>
			<p>

				On retiendra : Se parfumer aux points chauds ou sur une écharpe en tissu naturel.
			</p>
			<br>
		</article>

	</section>
{% endblock %}
