{% extends 'base.html.twig' %}


{% block title %}OLFRAGRANCE
{% endblock %}

{% block body %}
	<section class="container">

		<h1 class="py-5 text-bold text-dark col-8">Eau de Toilette ou Eau de Parfum, quelle différence ?</h1>
		<h2>Cologne, Extrait… Pour ne pas s’y perdre, on fait le point.</h2>

		<article class=" fs-5 col-8	py-4 container px-5 text-black-50">
			<p>Quand on achète un parfum, une mention un peu obscure nous précise qu’il s’agit d’une “Eau de Toilette” ou d’une “Eau de Parfum”... Quelle est réellement son importance ?

			<img src="{{asset('img/infofleur.png')}}" alt="">
			</p>
			<p>
				A l’origine, la maturation du parfum
											Une fois la formule d’un nouveau parfum trouvée, la première étape consiste à peser et mélanger les matières premières pures qui sont laissées à maturation pendant quelques semaines. Ce mélange, appelé concentré de parfum est ensuite dilué dans l’alcool et c’est la dilution du concentré qui donne les termes d’Eau de Toilette, Eau de Parfum, etc. :

			</p>
			<p>

				Pour repère :
				<br>
				<br>
				Eau Fraîche ou de Cologne : inférieur 7% de concentré
											Eau de Toilette : 7 à 12%
											Eau de Parfum : 12 à 20%
											Parfum, Extrait ou Absolu de Parfum : 20 à 40%
											Attention à ne pas trop simplifier non plus, lorsqu’un parfum est disponible dans des concentrations différentes, le plus souvent en Eau de Toilette et en Eau de Parfum, la concentration n’est pas la seule différence. Les parfumeurs conservent souvent un esprit commun aux deux versions mais adaptent la structure du parfum pour qu’il reste équilibré – par exemple en forçant le trait sur les notes de coeur / fond dans la version Eau de Parfum. Il faut garder à l’esprit que ces différentes appellations ne sont pas encadrées et acheter une “Eau de Parfum” ne garantit pas une concentration en matière odorante.
			</p>
			<br>
			<p>
				Pourquoi utilise-t-on de l’alcool dans le parfum ?
											On utilise en fait de l’éthanol (d’autres bases sont rarement utilisées) car :
			</p>
			<br>
			<p>

				C’est un solvant qui dissout les huiles essentielles et se mélange avec l’eau
											Il a une volatilité élevée donc s’évapore rapidement en entraînant les molécules odorantes du parfum
											Et oui, l'éthanol, celui-là même que vous consommez le samedi soir sauf qu’en fait pas tout à fait, non. Pour éviter les dérives, les fabricants de parfums utilisent de l'éthanol dénaturé (appelé SD Alcool sur les étiquettes). Aussi, si vous vous retrouvez à court de boisson lors de votre prochaine soirée pyjama, un petit conseil : laissez votre flacon sur votre étagère de salle de bain au risque d’expérimenter une gueule de bois nettement plus violente que prévue avec au menu diarrhées et vomissements...
			</p>
			<br>
			<p>

				Pour aller plus loin : La saga de l’Eau de Cologne
											Tout commence à la fin du XVIIème siècle, à une époque où le parfum est associé à l'apothicairerie et où l’on considère que l’odeur est “l’âme du médicament”. En ces temps-là, un remède qui sent bon ne peut qu’être plus efficace. La logique est imparable. Un commerçant Florentin, Giovanni Paolo Feminis, part s’installer à Cologne accompagné d’une formule à l’usage probablement médicinal composée d’agrumes (citron, orange, bergamote, mandarine et pamplemousse), de cèdre et de plantes aromatiques. Sur place, il rencontre un compatriote parfumeur, Giovanni Antonio Farina, a qui il lègue le secret de sa décoction. Giovanni Antonio Farina va alors baptiser cette eau “Aqua Mirabilis”, une "eau admirable" aux nombreuses vertus thérapeutiques et par ailleurs très réussie olfactivement.
			</p>
			<br>
			<p>
				Quelques années plus tard, au début du XVIIIe, le petit-fils de Giovanni Antonio, Giovanni Maria (difficile de s’y retrouver) apprend l’art de la parfumerie à Venise chez un oncle et part s’installer à Cologne où son grand-père lui lègue à son tour la formule de l’Acqua Mirabilis. Pour remercier sa ville adoptive, alors “Ville Libre” du Saint Empire Romain dont il est difficile d’obtenir la citoyenneté, Giovanni Maria aurait alors rebaptisé l’Acqua Mirabilis en “Eau de Cologne” ; un parfum qui rencontre rapidement une popularité inédite. A l’époque, la mode est aux parfums musqués, donc les agrumes, c’est nouveau et ça plaît. Le parfum devient si populaire qu’il acède au rang des indispensables des Grandes Cours Européennes – Louis XV et plus tard Mozart et Napoléon Bonaparte en auraient été des grands consommateurs. Giovanni Maria utilise le terme "bien Français" d’Eau de Cologne et se fait appeler Jean-Marie Farina, le Français étant la langue de de la haute société de l’époque. Un pur dandy, ce Jean-Marie !
			</p>
			<br>
			A la fin du XVIIIe siècle, Napoléon annexe Cologne et le parfum est copié sans vergogne – pas de droit des marques à l’époque ! – pour devenir un terme désignant un parfum léger et hespéridé. En 1806, un Farina, descendant de Jean-Marie, s’installe à Paris et créé avec l’accord de la famille encore installée à Cologne, sa marque de parfum. Les créations sont différentes des originaux même s’il reprend le nom de Jean-Marie Farina. Bien plus tard, le groupe Roger & Gallet rachètera la marque pour créer son Eau de Cologne Jean-Marie Farina “Extra-Vieille”. Le parfum existe encore même s’il est probablement assez différent de l’original.
			<p>
				De nos jours, on associe plutôt l’Eau de Cologne à un mélange Old School d’agrumes mais les américains ont gardé le terme de cologne pour désigner n’importe quel parfum masculin (les américains ne sont pas particulièrement fans des odeurs fortes).
			</p>

			<p>
				Un peu moins glamour, le terme d’Eau de Toilette vient de la Renaissance où les bains et autres lavages à l’eau n’étaient pas exactement une routine ancrée dans les usages. On faisait plutôt “sa toilette” avec des linges imprégnés d’alcool – qui, comme le savon, dissout les saletés – et parfumés pour masquer les odeurs corporelles. 
                Un peu plus tard, au XVIIe siècle, la population – et la noblesse – n’est pas encore accroc au pommeau de douche (blague à part, il y a de l’eau courante partout à Versailles, donc pas d'excuses) et on a très peur de l’eau qui véhiculerait des maladies et contaminerait les organes. Résultat, des ablutions minimalistes à grand renfort d’eau parfumée qui nous valent encore, Français, une solide réputation de malpropres. Merci Louis XIV…
			</p>

			<p>
				On retiendra : Eau de Parfum ou Eau de Toilette, une histoire de marketing qui donne malgré tout une certaine idée de la concentration et de la tenue du parfum...
			</p>
		</article>

	</section>

{% endblock %}
