{% extends 'base.html.twig' %}


{% block title %}OLFRAGRANCE
{% endblock %}

{% block body %}
	<section class="container mx-auto">

		<h1 class="py-5 text-bold text-dark col-8 text-center">Qu’est-ce qu’une note de tête, de cœur, de fond ?</h1>
		<h2>Notes, accords, familles, tour d’horizon de la musique du parfum.</h2>

		<article class=" fs-5 col-8	py-4 container px-5 text-black-50">
			<img src="{{asset('img/infofleur2.png')}}" alt="">

			<p>Un parfum est composé majoritairement d’alcool, d’eau et de molécules odorantes, qui sont soit synthétisées, soit extraites de façon naturelle par distillation.
			</p>
			<p>
				Une odeur (appelée note en parfumerie) de rose peut donc être créée à partir d’une extraction de rose naturelle (plus d’une centaine de molécules) ou d’une rose de synthèse (quelques molécules à peine)
			</p>
			<p>
				Comme en musique, pour parler des odeurs qui composent un parfum, on parle de notes et d’accords : une note de jasmin, un accord musqué, etc. Une note est donc le niveau de description le plus fin pour parler d’un parfum du point de vue de la perception. Il s’agit d’une façon pratique de parler des odeurs mais ne préjuge en rien de la présence de la matière de façon naturelle.
			</p>
			<br>
			<p>
				A titre d’exemple, la calone, une molécule de synthèse conçue dans les années 60 possède une forte odeur de sel marin et est très souvent utilisée dans les parfums masculins. Elle n’est bien sûr pas extraite naturellement, on parle cependant de note marine ou iodée.</p>
			<br>
			<p>

				Les notes sont réparties en 3 types, les notes de tête, de coeur et de fond. Ces catégories, quoique issues du marketing permettent de mieux comprendre un parfum et son évolution dans le temps après application.
			</p>
			<br>
			<p>

				<em>Les notes de tête, à faible longévité (ou forte “volatilité”), typiquement les agrumes et certaines fleurs, sentent fortement après
				</em>
				<em>
					application du parfum et jusqu’à 30mn après
                    Les notes de coeur, typiquement les fleurs et certains fruits sont restent odorant jusqu’à 2-3h après vaporisation</em>
				<em>Les notes de fond enfin, comme l’ambre, les bois et muscs ont une durée de vie plus importante encore au sens où ils peuvent être sentis jusqu’à 24h après vaporisation</em>
			</p>
			<br>
			<p>
				La conséquence directe de l’existence de cette “pyramide” est le fait qu’un parfum évolue grandement après vaporisation. Les parfums “grands publics“ sont développés pour que les notes de tête (sur lesquelles les acheteurs peu informés se font une idée d’un parfum) soient les plus plaisantes possible, au détriment de l’évolution du parfum. Pour se faire une idée d’un parfum, il faut donc le sentir après vaporisation mais aussi quelques minutes et quelques heures après. En gros, il faut accepter de prendre son temps.
			</p>
			<br>
			On retiendra : Les notes sont les odeurs identifiables d’un parfum, composées de molécules de volatilités différentes. Il faut sentir plusieurs fois un parfum pour s’en faire une idée.
			
		</article>

	</section>

{% endblock %}
